@model Tahseen.Models.RegisterViewModel
@{
    ViewBag.Title = "تسجيل حساب";
}

<!--......Created by: Maryam......-->
<!--......Programmed by: Abeer.....-->
<!--صفحة تسجيل جديد-->

<style>

    /* login page */

    Label {
        width: 100%;
        text-align: center;
        display: initial;
    }

    .log {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #D9F5D9;
        padding-top: 5%;
        padding-bottom: 5.5%;
    }


        .log h1 {
            font-family: 'Droid Arabic Kufi', sans-serif;
            font-size: 30px;
            color: #696969;
        }

        .log h2 {
            font-family: 'Droid Arabic Kufi', sans-serif;
            color: #696969;
        }


    .container2 {
        position: relative;
        bottom: 0px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    form select,
    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="number"],
    input[type="date" i],
    form button[type="submit"] {
        font: 400 12px/16px "Droid Arabic Kufi", sans-serif;
        border-radius: 25px;
    }

    form {
        background: #F9F9F9;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        height: 100%;
        border-radius: 25px;
        display: inline-block;
        width: 100%;
    }


        form fieldset {
            position: relative;
            border: medium none !important;
            margin: 0 0 10px;
            padding: 0;
            text-align: center;
            width: 100%;
        }

        form select,
        form input[type="text"],
        form input[type="email"],
        form input[type="password"],
        form input[type="number"],
        input[type="date" i] {
            width: 300px;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 0 0 5px;
            padding: 10px;
        }


            form select:hover,
            form input[type="text"]:hover,
            form input[type="email"]:hover,
            form input[type="password"]:hover,
            form input[type="number"]:hover,
            input[type="date" i]:hover {
                -webkit-transition: border-color 0.3s ease-in-out;
                -moz-transition: border-color 0.3s ease-in-out;
                transition: border-color 0.3s ease-in-out;
                border: 1px solid #aaa;
            }

        form button[type="submit"] {
            cursor: pointer;
            width: 200px;
            height: 50px;
            border: none;
            background: #5B9969;
            color: #FFF;
            margin: 0 0 5px;
            padding: 10px;
            font-size: 15px;
        }

            form button[type="submit"]:hover {
                background: #43A047;
                -webkit-transition: background 0.3s ease-in-out;
                -moz-transition: background 0.3s ease-in-out;
            }



            form button[type="submit"]:active {
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
            }





        form input:focus {
            outline: 0;
            border: 1px solid #aaa;
        }

        form label {
            font-size: 15px;
            font-family: 'Droid Arabic Kufi', sans-serif;
        }

        form a {
            font-size: 15px;
            font-family: 'Droid Arabic Kufi', sans-serif;
        }

            form a:link {
                text-decoration: none;
            }

            form a:visited {
                text-decoration: none;
            }

        form #message {
            color: red;
            font-family: 'Droid Arabic Kufi', sans-serif;
            font-size: 12px;
            font-weight: bold;
        }

    #parent {
        text-align: center;
    }


        #parent #Fname {
            float: right;
            width: 50%;
            margin-bottom: 10px;
        }

        #parent #Lname {
            float: left;
            width: 50%;
            margin-bottom: 10px;
        }

        #parent #Fname input {
            float: left;
            margin-left: 20px;
        }

        #parent #Lname input {
            float: right;
            margin-right: 20px;
        }

        #parent #Fname label {
            float: left;
            margin-left: 70px;
        }

        #parent #Lname label {
            float: right;
            margin-right: 70px;
        }

        #parent #Lname #message {
            float: right;
            margin-right: 60px;
        }


        #parent #Fname #message {
            float: left;
            margin-left: 60px;
        }

    form label a {
        color: red;
    }

    .alert-false {
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 15px;
        background-color: #bd362f;
        color: white;
    }

    .alert-true {
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 15px;
        background-color: #51a351;
        color: white;
    }

    .closebtn {
        margin-right: 15px;
        margin-top: 20px;
        color: white;
        font-weight: bold;
        float: left;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>


<section class="log" dir="rtl" lang="ar">
    <br />
    <div class="container2">
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
        <form id="login">
            <h1>@ViewBag.Title</h1>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.Username) <br /><br />
                <div id="username">
                    @Html.EditorFor(model => model.Username)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.Email) <br /><br />
                <div id="email">
                    @Html.EditorFor(model => model.Email)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.Password) <br /><br />
                <div id="pass">
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.ConfirmPassword) <br /><br />
                <div id="passconfirm">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.NationalID) <br /><br />
                <div id="">
                    @Html.TextBoxFor(m => m.NationalID)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.NationalID, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.DOB) <br /><br />
                <div id="">
                    @Html.EditorFor(m => m.DOB)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <div id="parent">
                <div class="child">
                    <fieldset id="Fname">
                        @Html.LabelFor(m => m.FName) <br /><br />
                        <div id="username">
                            @Html.EditorFor(m => m.FName, new { htmlAttributes = new { @style = "width:200px" } })
                        </div>
                        <div id="message">
                            @Html.ValidationMessageFor(m => m.FName, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
                <div class="child">
                    <fieldset id="Lname">
                        @Html.LabelFor(m => m.LName) <br /><br />
                        <div id="username">
                            @Html.EditorFor(m => m.LName, new { htmlAttributes = new { @style = "width:200px" } })
                        </div>
                        <div id="message">
                            @Html.ValidationMessageFor(m => m.LName, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
            </div>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.Gender) <br /><br />
                <div id="username">
                    @Html.EnumDropDownListFor(m => m.Gender)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <fieldset>
                @Html.LabelFor(m => m.PhoneNumber) <br /><br />
                <div id="username">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </div>
                <div id="message">
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br />
            <p>
            </p>
            <fieldset>
                <div class="checkbox">
                    <input checked="checked" data-val="true" data-val-required="لم توافق." id="role" name="terms" type="checkbox" value="Parent" required />
                    <label for="terms" style="font-size:12px; font-weight:bold; margin-right:15px">*أقر أنني أقوم بالتسجيل بصفتي ولي أمر أحد الأطفال، وأوافق على <a href="@Url.Action("TermsAndConditions", "Home")" target="_blank" style="font-size:12px; font-weight:bold;">الشروط والأحكام</a> .</label>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <button name="submit" type="submit" id="submit">تسجيل</button>
            </fieldset>
        </form>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
